<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @team.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @team.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @team.bio %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
